*{
    font-family: Helvetica, sans-serif;
    
}
body {
    background: rgb(255, 255, 255);
    background: linear-gradient(-100deg,  #A2F2F1 35%, #B19AFE 100%);
    font-size: 16px;
    margin: 0px;
}
nav {
    background: rgb(255, 255, 255);
    max-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

svg {
    max-height: 1rem;
}
 /* Search */

 .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.search-field {
    padding: 1rem;
    height: 2rem;
    width: 13rem;
    background-color: rgb(238, 247, 255);
    border: 1px solid rgb(218, 216, 216);
    border-radius: 50px;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    pointer-events: none;
}

.overlay svg {
    margin-left: auto;
}

.overlay span {
    margin-right: auto;
    font-size: 13px;
    color: rgb(94, 94, 94);
}

.search-field::placeholder {
    color: transparent;
}
 
.search-field:focus {
    outline: none;
}

.search-field:focus::placeholder {
   color: #DBDBDB;
}

.search-field:focus ~ .overlay {
  display: none;
}

.content {
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Profile info */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 18rem;
    background-color: white;
}

.profile-basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.profile-picture {
    width: 6rem;
    border-radius: 50%;
    padding: 1rem;
}

.user-name {
    font-weight: bold;
}

.profile-more-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 243, 248);
}
.user-info {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

#user-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.profile-more-info-title {
    font-weight: bold;
    color: gray;
}

.profile-more-info-number {
    font-weight: bolder;
    color: rgb(0, 182, 182);
}

.log-out-button {
    padding-right: 1rem;
}
#log-out-button {
    color: rgb(0, 182, 182);
    font-weight: bolder;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(0, 182, 182);
    padding: 0.5rem;
}

/* Posts  */
.feed {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    background-color: white
}

.write-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(238, 247, 255);
}

.profile-picture-write-post {
    margin-right: auto;
    max-width: 2rem;
    border-radius: 50%;
}

.input-post {
    width: 92%;
    font-weight: bolder;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(0, 182, 182);
    padding: 0.5rem;
}

.input-post::placeholder {
    color: rgb(0, 182, 182);
}

.input-post:focus {
    outline: none;
}

.post-overlay {
    color: rgb(0, 182, 182);;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    pointer-events: none;
}

.post-overlay svg {
    margin-left: 52.5%;
}

.input-post:focus ~ .post-overlay {
    display: none;
  }
