*{
    font-family: Helvetica, sans-serif;
    
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(-100deg,  #A2F2F1 35%, #B19AFE 100%);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav {
    width: 95%;
    background: rgb(255, 255, 255);
    max-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

svg {
    max-height: 1rem;
}

 /* Search */
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.search-field {
    padding: 1rem;
    height: 2rem;
    width: 13rem;
    background-color: rgb(238, 247, 255);
    border: 1px solid rgb(218, 216, 216);
    border-radius: 50px;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    pointer-events: none;
}

.overlay svg {
    margin-left: auto;
}

.overlay span {
    margin-right: auto;
    font-size: 13px;
    color: rgb(94, 94, 94);
}

.search-field::placeholder {
    color: transparent;
}
 
.search-field:focus {
    outline: none;
}

.search-field:focus::placeholder {
   color: #DBDBDB;
}

.search-field:focus ~ .overlay {
  display: none;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

/* Profile info */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 18rem;
    background-color: white; 
}

.profile-basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.profile-picture {
    width: 6rem;
    border-radius: 50%;
    padding: 1rem;
}

.user-name {
    font-weight: bold;
}

.profile-more-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    background-color: rgb(238, 243, 248);
}

.user-info {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

#user-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.profile-more-info-title {
    font-weight: bold;
    color: gray;
}

.profile-more-info-number {
    font-weight: bolder;
    color: rgb(0, 182, 182);
}

.log-out-button {
    padding-right: 1rem;
}

#log-out-button {
    color: rgb(0, 182, 182);
    font-weight: bolder;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(0, 182, 182);
    padding: 0.5rem;
}

/* Posts  */
.feed {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 1rem;
}

.write-post {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(238, 247, 255);
}

.profile-picture-write-post {
    margin-right: auto;
    max-width: 2rem;
    border-radius: 50%;
}

.input-post {
    width: 92%;
    font-weight: bolder;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(0, 182, 182);
    padding: 0.5rem;
}

.input-post::placeholder {
    color: rgb(0, 182, 182);
}

.input-post:focus {
    outline: none;
}

.post-overlay {
    color: rgb(0, 182, 182);;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    pointer-events: none;
}

.post-overlay svg {
    margin-left: auto;
}

.input-post:focus ~ .post-overlay {
    display: none;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: start;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray ;
}

.profile-picture-post {
    max-width: 2.5rem;
    border-radius: 50%;
    padding: 1rem;
}

.postN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-info-writer-name {
    padding-top: 1rem;    
    font-weight: bold;
}

.post-info-time {
    padding-top: 1rem;
    padding-left: 0.5rem;
    color: gray;
}

.post-content {
    padding-top: 0.5rem;
}

.post-reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.post-reaction-like {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3rem;
}

.post-reaction-dislike {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3rem;
}

.reaction-icon {
    width: 1rem;
    padding: 0.5rem;
}

.exit-icon {
    width: 0.5rem;
    padding: 1rem;
}

@media only screen and (max-width: 890px) {

    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(-100deg,  #A2F2F1 35%, #B19AFE 100%);
        font-size: 16px;
       
        margin: 0;
    }

    nav {
        width: 80%; 
        background: rgb(255, 255, 255);
        max-height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content {
        font-size: 0.875rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
     
    .feed {
        width: 90%;
        margin-left: 0;
    }

    .profile {
        max-width: 19rem;
        width: 100%;
        margin-right: 0;  
    }

    .profile-picture {
        width: 5.25rem;
        height: 5.25rem;
        padding: 0.5rem;
    }
    
    .profile-more-info-title {
        font-size: 0.75rem;
        font-weight: bold;
        color: gray;
    }
    
    .profile-more-info-number {
        font-size: 1.125rem;
        font-weight: bolder;
        color: rgb(0, 182, 182);
    }
    
    .write-post {
        height: 3 rem ;
    }

    .input-post {
        width: 75%;
        font-weight: bolder;
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid rgb(0, 182, 182);
        padding: 0.5rem;
    }

    .post-overlay svg {
        margin-left: 14rem;
    }
    
}